.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

$spacers: (
  1: 0.3rem,
  2: 0.6rem,
  3: 1rem,
  4: 1.3rem,
  5: 1.6rem,
  6: 2rem,
);
