<template>
  <main class="content">
    <Hero title="Rohan" :slogan="heroSlogan"></Hero>
    <hr />
    <section>
      <h2>Socials</h2>
      <ul>
        <li
          v-for="social in socialLinks
            .filter((x) => x.active)
            .sort((a, b) => {
              if (a.label < b.label) {
                return -1;
              }
              if (a.label > b.label) {
                return 1;
              }
              return 0;
            })"
          :key="social.url"
        >
          <a :href="social.url" target="_blank" rel="noreferrer">{{ social.label }}</a>
        </li>
      </ul>
    </section>
  </main>
</template>

<script setup>
import Hero from '../components/hero.vue';

const heroSlogan =
  'Since 2019 Front-end developer at <a href="https://synetic.nl/over/team-educatie-diensten" target="_blank" rel="noreferrer" >Synetic</a>';

const socialLinks = [
  {
    label: 'Instagram',
    url: 'https://instagram.com/rohanphoto',
    active: true,
  },
  {
    label: 'Unsplash',
    url: 'https://unsplash.com/@rohanphoto',
    active: true,
  },
  {
    label: 'Linkedin',
    url: 'https://linkedin.com/in/rohanvanwijk',
    active: true,
  },
  {
    label: 'IMDB',
    url: 'https://www.imdb.com/name/nm8245961/',
    active: true,
  },
  {
    label: 'Filmweb',
    url: 'https://www.filmweb.pl/person/Rohan+van+Wijk-3126342',
    active: true,
  },
  {
    label: 'Rocketreach',
    url: 'https://rocketreach.co/rohan-van-wijk-email_245747233',
    active: true,
  },
  {
    label: "Yu-Gi-Oh! 5D's Duelist Pack Collection Commercial 2009",
    url: 'https://www.youtube.com/watch?v=Gg-dl0RdTfU',
    active: false,
  },
  {
    label: 'Drupal.org',
    url: 'https://drupal.org/u/rohandrupal',
    active: true,
  },
  {
    label: 'Github',
    url: 'https://github.com/Rohanvanwijk',
    active: true,
  },
  {
    label: 'Gitlab',
    url: 'https://gitlab.com/rohanvanwijk',
    active: true,
  },
];
</script>

<style lang="scss">
@import '~/styles/colors';

.content {
  &__profile {
    clip-path: circle(50%);
    aspect-ratio: 1;
    object-fit: cover;
  }
}

img {
  border-radius: 0.5rem;
}
</style>
