<script></script>

<template>
  <footer class="footer">
    <div class="wrap">
      <div>
        Built with
        <a href="https://milligram.io/" target="_blank" rel="noreferrer">Milligram CSS</a>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
@import '../../node_modules/milligram/src/milligram.sass';

.footer {
  background-color: $color-tertiary;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
