<script setup>
const props = defineProps(['title', 'slogan']);
</script>

<template>
  <div class="hero">
    <svg
      id="10015.io"
      viewBox="0 0 480 480"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs>
        <clipPath id="blob">
          <path
            fill="#474bff"
            d="M427,264Q387,288,365,301.5Q343,315,360,372Q377,429,325,385.5Q273,342,256.5,370Q240,398,221,378Q202,358,154.5,390.5Q107,423,85.5,395.5Q64,368,98.5,321.5Q133,275,125,257.5Q117,240,81,208Q45,176,58,146.5Q71,117,88,85.5Q105,54,142,53Q179,52,209.5,50Q240,48,263,73.5Q286,99,293.5,127.5Q301,156,358.5,134Q416,112,432.5,142Q449,172,458,206Q467,240,427,264Z"
          />
        </clipPath>
      </defs>
      <image
        x="0"
        y="0"
        width="100%"
        height="100%"
        clip-path="url(#blob)"
        xlink:href="https://api.synetic.nl/sites/synetic-nl-api/files/styles/wide/public/media/images/_SYM3281.jpg"
        preserveAspectRatio="xMidYMid slice"
      ></image>
    </svg>

    <div class="hero__content">
      <h1 class="hero__title">{{ props.title }}</h1>
      <div class="hero__slogan" v-html="props.slogan"></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hero {
  position: relative;
  svg {
    margin-left: clamp(8rem, 12vw, 30rem);
  }
  &__content {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 0;
    max-width: clamp(24rem, 28vw, 47rem);
  }
  &__title {
    font-size: clamp(4rem, 12vw, 12rem);
  }
  &__slogan {
    font-size: clamp(2rem, 3vw, 8rem);
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
