<template>
  <div class="menu">
    <nav class="menu__navigation" aria-labelledby="mainmenu">
      <h3 class="menu__title visually-hidden" id="mainmenu">Menu</h3>
      <ul class="menu__list">
        <li class="menu__list-item" v-for="item in navigationItems" :key="item.path">
          <router-link :to="item.path">
            {{ item.label }}
          </router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script setup>
const navigationItems = [
  {
    label: 'Home',
    path: '/',
  },
  {
    label: 'Weer',
    path: '/weer',
  },
];
</script>

<style lang="scss" scoped>
@import '~/styles/colors';
@import '~/styles/utils';

.menu {
  padding-block: map-get($spacers, 2);
  border-bottom: 1px solid $color-tertiary;

  &__title {
    margin-bottom: map-get($spacers, 1);
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: map-get($spacers, 3);
    justify-content: flex-end;
  }
  &__list-item {
    margin: 0;

    a {
      padding: map-get($spacers, 1);
    }

    .router-link-active {
      background-color: $color-primary;
      color: white;
      font-weight: bold;
    }
  }
}
</style>
