<script setup>
import Footer from '../components/footer.vue';
</script>
<template>
  <div class="wrap">
    <div class="header">
      <navigation />
    </div>
    <div class="content">
      <slot />
    </div>
    <div class="footer">
      <Footer />
    </div>
  </div>
</template>

<style lang="scss">
@import '../../node_modules/milligram/src/milligram.sass';
@import '../styles/utils';

.wrap {
  max-width: 90rem;
  padding: map-get($spacers, 3);
  margin-inline: auto;
}
</style>
